*.out
*.bin

sources/generated/
sources/ThirdParty/wxWidgets/generated/
sources/Device/Listings/
sources/Device/Objects/
sources/DLoader/Listings/
sources/DLoader/Objects/
sources/Panel/Listings/
sources/Panel/Objects/
sources/Panel/Listings-Debug/
sources/Panel/Objects-Debug/
sources/Panel/DebugConfig/*
